.card-group-wrapper {
    display:flex

}

.ui.card {
    flex: 1
}

.park-card {
    margin: 2px;
    padding:2px;
    display: flex;
    width:fit-content;
}

.best-hike-card {
    margin: 2px;
    padding:2px;
    display: flex;
    padding-left: 2px;
    max-height: min-content;
}

.hike-card {
    margin: 2px;
    padding:2px;
    display: flex;
    padding-left: 2px;
}

.animal-card {
    margin: 2px;
    padding:2px;
    display: flex;
    padding-left: 2px;
    max-height: min-content;
}

.animalImg {
    height: 140px;
    width: 150px
}

.btn {
    text-align: center;
    width:100%;
    height: auto;
    bottom: 8px;
    left: 0px;
    right:0px;
    padding:1em;
    display:flex
    
}

.my-trips-card {
    margin: 2px;
    padding:2px;
    display: flex;
    padding-right: 20px;
    max-height: min-content;
}