.sticky-wrapper {
    position: sticky;
    top: 80px;
    background-color: white;
    padding: 15px;
    padding-left: 25px
  }

  .sticky-wrapper-nav {
      position: sticky;
      top: 0;
      background-color: white;
      padding: 15px;
      z-index: 4; 
    }
  